<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>로그인 페이지입니다.</h1>
    <form action="/user/login/" method="post">
        {%csrf_token%}
        <p>아이디</p><input type="text" name="username">
        <p>비밀번호</p><input type="password" name="password">
        <button type="submit">로그인하기</button>
    </form>

    <a href="/user/signup/">
        <button>회원가입하기</button>
    </a>
</body>

</html>